
.App{
   /* background-image: url("../../../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    //background-color: white ;
    height: 100vh;
    width: 100vw;
    text-align: center;
    h1{
        text-align: center;
        font-weight: bolder;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    
  }
  
  @for $i from 1 through 12 {
    .grid-#{$i} {
      grid-column: span ($i);
      margin-top: 2vh;
    }
  }

  .centered-card {
    h4 {
      text-align:left;
      margin: 2vh;
    }
}

.select-label{
    text-align:left;
    margin: 2vh;
}