.YourGroups {
    h1 {
        position: absolute;
        top: 5%;
        letter-spacing: 0px;
        font-size: 2.25rem;

        padding: 0px 15px;

        width: 100%;
        text-align: right;

        box-sizing: border-box;
    }

    .GroupsContainer {
        position: absolute;
        top: 12.5%;

        box-sizing: border-box;
        width: 100%;
    }
}