
.login {
  height: 90vh;
  overflow-y: auto;
  text-align: center;
  .centered-card {
    margin: 72px auto;
    width: 75vw;
    text-align: left;
    h2 {
      text-align: center;
    }
  }

  .login-title {
    margin-bottom: 48px;
  }
}

button{
  background-color: #EB3AA7;
  color: white;
  border: none;
  padding: 3vw 2vh ;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  margin-top: 1vh;
  &:disabled {
    background-color: #D8D8D8;
    color: #000;
  }
}