.view-events {
  padding: 0 0 160px 0;
  .view-events-title {
    margin: 24px 12px;
  }
  .view-events-subtitle {
    margin-bottom: 12px;
  }
  .event-card-margin-wrapper {
    margin: 12px 0;
  }
}