@use "../../../styles/global.scss";

.SingleEvent {
  box-sizing: border-box;
  overflow-y: auto;

  height: 90vh;
  background: #050A31;

  hr {
      border: 2px solid global.$text-white;
  }

  .EventImg {
      position: relative;
      height: 200px;

      img {
          position: absolute;
          top: 20px;
          left: 20px;

          height: 35px;
      }
  }

  .SingleEventContainer {
      display: flex;
      flex-direction: column;

      box-sizing: border-box;

      padding: 0px 15px;

      .event-headline {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: start;
          &.bot-margin {
                margin-bottom: 12px;
          }
          i {
              margin-right: 8px;
          }
          button {
              margin-left: 8px;
          }
      }

      h1 {
          padding: 1rem;

          font-weight: 700;
          font-size: 1.5rem;
          letter-spacing: 1px;

      }


      p {
          text-align: justify;
          margin-top: 1rem;
      }

      ul {

          li {
              display: flex;
              align-items: center;

              margin-bottom: 0.5rem;

              img {
                  height: 45px;
                  min-width: 45px;

                  border: none;
              }
              span {
                  padding-left: 0.25rem;
              }
          }
      }
  }
}